In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [3]:
#Answer: Math is not defined/imported
import math
print(math.sqrt(16))

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [7]:
#Answer: x value is not passed as the parameter
def my_function(x):
    x += 5
    print(x)

x = 10
my_function(x)

15

In [ ]:
#3.x = 5
if x = 10:
    print("x is 10")

In [3]:
#Answer: x is not defined and assignment operator missing
x = 5
if x == 10:
    print("x is 10")
else:
    print("x is 5")

x is 5

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [9]:
#Answer: sort keyword is in place, hence displays none.
numbers = [5, 3, 8, 2]
print(sorted(numbers))

[2, 3, 5, 8]

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

In [14]:
#Answer: print statement is in wrong place
def square(n):
    print(n * n)

square(4)

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [3]:
#Answer: tuples are immutable, so not support item assignment
my_tuple = [1, 2, 3]
my_tuple[1] = 5
print(my_tuple)

[1, 5, 3]

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [6]:
#Answer: format string age argument missing
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age))

My name is Alice and I am 25 years old

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [22]:
#Answer:is operator refers to same memory, here same value.
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [ ]:
#9.
for i in range(5, 1):
    print(i)

In [17]:
#Answer: range prints nothing, needs to add steps for countup/countdown
for i in range(5, 1, -1):
    print(i)

5
4
3
2

In [21]:
#Answer: To get the dictionary value, needs to use quote as well
student = {"name": "John", "age": 20}
print(student["name"])

John